<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Asynchronous Console Appender -->
        <Async type="AsyncAppender" name="AsyncConsoleAppender">
            <AppenderRef ref="ConsoleAppender"/>
        </Async>

        <!-- Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Root logger -->
        <Root level="info">
            <AppenderRef ref="AsyncConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>